@{
    Layout = null;
    var lan = Html.GetLang();
}<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SilkChain - Clause</title>
    <link href="~/css/vendors.stripped.min.css" rel="stylesheet" />
    <link href="~/css/style.bundle.min.css" rel="stylesheet" />
    <style>p.text-indent{text-indent:2em;}.lead{margin-top:2rem;}</style>
</head>
<body>
<div class="container py-5">
@if ("cn".Equals(lan))
{
<h4 class="text-center mb-4">条款</h4>
<p class="text-indent">请仔细阅读这些条款。通过访问或使用本网站，即表示您同意受本协议所述条款和所引用的所有条款的约束。如果您不同意这些条款，请勿使用本网站。</p>
<p class="text-indent">这些条款适用于您访问和使用SilkChai的网站www.silkchain.io（统称为“网站”）。这些条款不适用于通过该软件访问的SilkChain开源客户端软件或SilkChain分布式开源全球支付网络（统称为“SilkChain”），这些网站可通过我们的网站访问。如第4节（SilkChain with SilkChain）中所述，SilkChain不拥有或控制SilkChain技术，并且全权负责使用SilkChain技术。此外，这些条款不会更改您与SilkChain产品，服务或其他方面可能达成的任何其他协议的条款或条件。</p>
<p class="text-indent">SilkChain保留随时自行决定更改或修改这些条款或本网站的任何政策或指南中包含的条款和条件的权利。我们将通过向网站发布修订后的条款以及更改条款顶部的“最后修订”日期或通过提供其他通知方式来提供这些更改的通知。在某些情况下使用特定形式的通知并不强制我们在其他情况下使用相同的通知。任何变更或修改将在发布本网站的修订后立即生效，并将适用于您随后使用本网站。您放弃任何权利，您可能需要收到有关此类更改或修改的具体通知。您继续使用本网站将确认您接受此类更改或修改; 因此，无论何时您使用本网站了解适用于此类使用的条款，您都应该查看条款和适用政策。点击位于我们网页底部的“条款”超文本链接，即可查看最新版本的条款。如果您在访问或使用本网站时不同意本条款生效，则必须停止使用本网站。</p>
<div class="lead mb-1"><strong>1.资格</strong></div>
<div>通过访问或使用本网站，您声明并保证您之前没有被暂停或从网站中删除。您声明并保证您不是：</div>
<ul class="list-unstyled">
    <li>（a）任何有禁运货物或服务的国家并受其控制的国家或居民;</li>
    <li>（b）被确定为“特别指定的国家”，或</li>
    <li>（c）被列入商务部的被拒人员名单。您进一步声明并保证，如果您所在国家的法律禁止您按照这些条款进行操作，您将不会使用本网站。</li>
</ul>
<div class="lead mb-1"><strong>2.注册和帐户</strong></div>
<div>为了访问和使用网站上的某些功能，您必须创建一个SilkChain帐户（“帐户”）。您同意：</div>
<ul class="list-unstyled">
    <li>（a）在创建或更新账户时提供准确，最新和完整的信息;</li>
    <li>（b）维护并及时更新您的账户信息;</li>
    <li>（c）维护您的登录凭证的安全性和机密性，并限制对您的账户和您的计算机的访问;</li>
    <li>（d）如果您发现或以其他方式怀疑与本网站相关的任何安全漏洞，请及时通知SilkChain;</li>
    <li>（e）对您帐户下发生的所有活动承担责任，并承担未经授权访问的所有风险。</li>
</ul>
<div class="lead mb-1"><strong>3.隐私政策</strong></div>
<p>本隐私政策描述了SilkChain如何收集，使用和分享关于您的信息。本政策适用于我们在使用网站www.SilkChain.io时收集的信息，或者以其他方式与我们互动，如下所述。</p>
<p>此政策不适用于通过该软件访问的SilkChain开源客户端软件或SilkChain分布式开源全球支付网络（统称为“SilkChain“），可通过我们的网站访问该网络。SilkChain不拥有或控制SilkChain技术。但是，如果您从我们网站上的超链接访问SilkChain，我们可能会收集以下与您使用SilkChain相关的“我们自动收集的信息”部分中标识的信息。如果您愿意，通常可以将浏览器设置为删除或拒绝Cookie，这将禁用我们从Cookie收集的任何信息。我们收集的信息仅用于分析SilkChain的趋势和评估用户的使用情况。我们不会收集您直接提供给SilkChain的任何信息。此外，如果您通过任何其他方式访问SilkChain，除了通过我们网站提供的超链接，我们不会收集任何有关您使用SilkChain的信息。</p>
<p>我们可能会不时更改此隐私政策。如果我们进行了更改，我们会通过修改此政策顶部的日期来通知您，并且在某些情况下，我们可能会向您提供其他通知（例如向我们网站的主页添加声明或向您发送电子邮件通知）。我们鼓励您在与我们互动时了解隐私政策，随时了解我们的信息实践以及您可以帮助保护您的隐私的方式。</p>
<div class="font-weight-bold">信息收集</div>
<p>您提供给我们的信息<br />
我们收集您直接提供给我们的信息。例如，我们在创建在线帐户时收集信息，在我们的论坛上发布消息或以其他方式与我们沟通。<br />
我们收集的信息类型包括您的姓名，电子邮件地址，用户名，密码，位置以及您选择提供的任何其他信息。</p>
<p>我们收集的信息是自动的<br />
当您访问或使用我们的网站或与我们交易业务时，我们会自动收集有关您的某些信息，包括日志信息。我们收集有关您使用我们网站的信息，包括您使用的浏览器类型，访问时间，浏览的页面，您的IP地址以及您访问我们网站前访问过的页面。</p>
<p>Cookie和其他跟踪技术收集的信息：我们可能会在您与我们的网站或电子邮件进行互动时使用Cookie，网络信标（也称为“跟踪像素”）和其他跟踪技术来收集有关您的信息，包括我们的网站。我们利用这些信息来改善我们的网站和您的体验，查看我们网站的哪些区域和功能非常受欢迎，访问次数，了解广告系列的有效性并确定是否已打开电子邮件并点击了电子邮件中的链接。</p>
<p>我们从其他来源收集的信息<br />
我们也可能从其他来源获得有关您的信息，并将其与我们收集的有关您的信息结合起来。</p>
<div class="font-weight-bold">信息的使用</div>
<p>我们可能出于各种目的使用您的信息，包括：<br />
回应您的意见，问题和要求并提供客户服务;<br />
监控和分析趋势，使用情况和活动，以便运营和改进我们的网站;<br />
管理您的在线帐户并向您发送技术通告，更新，安全警报以及支持和管理信息;<br />
链接或与我们从他人那里获得的信息相结合，以帮助了解您的需求并为您提供更好的服务; 和执行收集信息的任何其他目的。</p>
<div class="font-weight-bold">信息共享</div>
<p>我们可能会按如下方式分享您的信息：<br />
与供应商，顾问和其他服务供应商谁需要访问这些信息来代表我们开展工作;<br />
如果我们认为披露符合任何适用的法律，法规或法律程序，或者任何适用的法律，规则或法规有其他要求，则应对信息请求作出回应;<br />
如果我们认为您的行为与我们的用户协议或政策不一致，或者保护我们或任何第三方的权利，财产和安全;<br />
就任何合并，出售公司资产，融资或收购我们全部或部分业务给另一家公司而进行的谈判或谈判期间。<br />
我们也可能会分享汇总或解除标识的信息，这些信息无法合理用于识别您的身份。</p>
<div class="font-weight-bold">提供其他分析服务</div>
<p>我们聘请第三方提供分析服务。这些实体可能使用cookie，网络信标和其他技术来收集有关您使用我们网站的信息，包括您的IP地址，网络浏览器，浏览的页面，页面上的时间，点击的链接和转换信息。这些信息可能会被我们和其他人用于分析和跟踪数据，确定某些内容的受欢迎程度并更好地了解您的在线活动。</p>
<div class="font-weight-bold">安全</div>
<p>我们采取合理措施帮助保护您的信息免受丢失，被盗，滥用和未经授权的访问，披露，更改和破坏。</p>
<div class="font-weight-bold">帐户信息</div>
<p>您可以随时登录您的账户或通过以下信息与我们联系，更新，更正或删除您的在线账户信息。请注意，我们可能会保留法律要求或合法商业目的的某些信息。我们也可能保留一段时间的关于您的信息的缓存或存档副本。</p>
<div class="font-weight-bold">缓存</div>
<p>大多数网络浏览器默认设置为接受cookie。如果您愿意，通常可以将浏览器设置为删除或拒绝Cookie，但请注意，这样做不一定会影响与我们网站相关的第三方Flash Cookie。如果您选择删除或拒绝Cookie，这可能会影响我们网站的可用性和功能。</p>
<div class="lead mb-1"><strong>4.利用SILKCHAIN降低风险</strong></div>
<p>SilkChain开发了原始协议，并继续推动其作为分布式开源支付网络的使用。此外，作为开源社区的成员，SilkChain可能会对源代码进行更新和修改。SilkChain是一个开源协议，任何人都可以使用，复制，修改和分发。我们鼓励您在考虑是否使用SilkChain技术时采取预防措施，特别是在与陌生人一起使用SilkChain技术进行交易时。</p>
<div>您承认并同意SilkChain：</div>
<ul class="list-unstyled">
    <li>（i）不拥有或控制SilkChain技术;</li>
    <li>（ii）没有权力或责任禁止，限制，取消或批准通过SilkChain发生的任何交易或其他互动; </li>
    <li>（iii）不是对任何通信，交易，相互作用，争议或您与其他任何关系之间的任何关系没有任何陈述或保证，也没有任何责任或义务的参与方参与者，使用SilkChain技术的个人或组织; </li>
    <li>（iv）不调查或验证任何SilkChain用户的声誉，行为，道德或犯罪背景，包括但不限于任何SilkChain网关。此外，您承认并同意您全权负责您对SilkChain的使用和使用，包括但不限于：
    <ul>
        <li>您使用SilkChain完成的任何付款或其他交易;</li>
        <li>在与此类用户进行任何SilkChain交易之前，调查或筛选其他SilkChain技术用户;</li>
        <li>您与其他SilkChain用户或网关之间的任何互动;</li>
        <li>您使用任何SilkChain网关来兑换您可能储存在SilkChain钱包中的任何货币或其他有价物品。</li>
    </ul>
    </li>
    <li>对于因与SILKCHAIN技术有关的任何行为或不作为而直接或间接产生的任何后果，SILKCHAIN不承担任何责任。您将承担与使用SILKCHAIN技术相关的所有风险。</li>
</ul>
<div class="lead mb-1"><strong>5.版权和许可</strong></div>
<p>除非本网站以及本网站上的所有内容和其他材料另有说明，包括但不限于SilkChain徽标以及所有设计，文字，图形，图片，信息，数据，软件，声音文件，其他文件及其选择和排列（统称“SilkChain材料”）是SilkChain或其许可人或用户的专有财产，受新加坡和国际版权法的保护。</p>
<div>您被授予有限的，不可再许可的许可，以访问和使用网站和SilkChain材料;受这些条款的约束。除非本网站明确许可，在这些条款中或由SilkChain以其他方式书面形式，此类许可证不包括：</div>
<ul class="list-unstyled">
    <li>（a）本网站或SilkChain材料的任何转售或商业用途;</li>
    <li>（b）任何SilkChain材料的分发，公开演出或公开展示;</li>
    <li>（c）修改或以其他方式对本网站及SilkChain材料或其任何部分进行衍生使用;</li>
    <li>（d）使用任何数据挖掘，机器人或类似的数据收集或提取方法;</li>
    <li>（e）下载（页面缓存除外）网站的任何部分，SilkChain材料或其中包含的任何信息; 或</li>
    <li>（f）对本网站或SilkChain材料的任何用途，而非用于其预定用途。未经SilkChain事先书面许可，任何人未经本网站明确授权使用本网站或SilkChain材料都将被严格禁止，并将终止本网站授予的许可。此类未经授权的使用也可能违反适用法律，包括但不限于版权和商标法以及适用的通信法规和法规。除非在此明确声明，否则这些条款中的任何内容都不会被解释为赋予知识产权的任何许可，无论是通过禁止发言，暗示还是其他方式。此许可证随时可撤销。版权和商标法以及适用的通信规章和法规。除非在此明确声明，否则这些条款中的任何内容都不会被解释为赋予知识产权的任何许可，无论是通过禁止反言，暗示还是其他方式。此许可证随时可撤销。版权和商标法以及适用的通信规章和法规。除非在此明确声明，否则这些条款中的任何内容都不会被解释为赋予知识产权的任何许可，无论是通过禁止反言，暗示还是其他方式。此许可证随时可撤销。</li>
</ul>
<div class="lead mb-1"><strong>6.用户内容</strong></div>
<div>本网站包含您或其他用户可能创建，发布，发送或存储广告，消息，材料，数据，信息，文本，音乐，声音，照片，视频的互动区域或服务（“互动区域”） ，图形，应用程序，代码，链接或网站上的其他项目或内容（“用户内容”）。通过使用本网站，您同意不发布，上传，传输，分发，存储，创建或以其他方式发布或通过本网站发送以下任何内容：</div>
<ul>
    <li>非法，诽谤，淫秽，色情，不雅，猥亵，暗示，骚扰，威胁，辱骂，煽动，欺诈，虚假，误导或其他令人反感的用户内容;</li>
    <li>构成，鼓励或提供刑事犯罪指示的用户内容，侵犯任何一方的权利或否则会造成责任或违反任何地方，州，国家或国际法;</li>
    <li>用户内容可能影响其他人的宣传，隐私或数据保护权利，包括未获得此类个人同意的其他个人的图片或信息;</li>
    <li>用户内容可能侵犯任何一方的任何专利，商标，商业秘密，版权或其他知识产权或所有权。通过发布任何用户内容，您声明并保证您有合法的权利分发和复制此类用户内容;</li>
    <li>假冒任何人或实体或以其他方式歪曲与某人或实体的联系的用户内容;</li>
    <li>病毒，损坏的数据或其他有害，破坏性或破坏性文件;</li>
    <li>根据SilkChain的唯一判断，用户内容令人反感，或限制或禁止任何其他人使用或享受互动区域，网站，或可能使SilkChain或其用户承担任何伤害或责任任何类型。</li>
</ul>
<p>SilkChain不对您或任何第三方发布，存储或上传的任何用户内容负责或承担责任，SilkChain也不对任何用户行为或任何错误，诽谤承担责任。当您参与交互领域时，您会了解您选择的某些信息和内容可能会公开显示或选择用户。你只负责你的网站和互动区域的使用，并在你自己所能承担的风险中使用它们。</p>
<p>如果您发现您认为违反了这些条款的用户内容，可以通过电子邮件silkchain@itdc.org报告。但是，条款的执行完全由我们自行决定，并且在某些情况下没有执行这些条款并不构成放弃我们在其他情况下强制执行条款的权利。此外，这些条款不会创建任何第三方的任何私人权利或任何合理的期望或承诺本网站将不包含任何本条款禁止的内容。尽管SilkChain没有义务对发布在网站上的任何用户内容进行筛选，编辑或监控，但SilkChain保留随时删除，放映或编辑任何发布或存储在本网站上的用户内容的权利，并拥有绝对的自由裁量权。出于任何原因未经通知，并且您自行负责创建备份副本并替换您在本网站上发布或存储的任何用户内容，费用由您自行承担。违反这些条款对本网站的任何使用可能导致终止或暂停您使用互动区域和/或本网站的权利。</p>
<p>除本协议另有规定外，在本网站或单独协议中，SilkChain不声明对任何用户内容拥有所有权或控制权。但是，如果您向网站发布用户内容，则授予SilkChain非独占，免版税，永久，不可撤销和完全可再授权的权利，以使用，复制，修改，改编，发布，翻译，创作衍生作品，分发，执行和在我们的网站和第三方网站上展示此类用户内容。当您删除用户内容时，该许可证将终止，但该许可证将继续执行任何已进行的非现场使用以及删除用户内容时仍可能存在的任何缓存或归档用途。通过发布用户内容，您在此声明SilkChain及其代理和员工不承担任何此类使用。</p>
<div>通过向网站发布用户内容，您声明并保证：</div>
<ul class="list-unstyled">
    <li>（a）此类用户内容不是机密信息;</li>
    <li>（b）您拥有和控制用户内容的所有权利，或者您有权发布和使用此类用户内容，并授予您在这些条款中授予的SilkChain权利;</li>
    <li>（c）用户内容准确无误，无任何误导或危害;</li>
    <li>（d）用户内容以及您对本网站的使用和发布，不会违反这些条款或任何适用的法律，规则或法规。</li>
</ul>
<div class="lead mb-1"><strong>7.重复侵权政策</strong></div>
<p>根据适用的法律，SilkChain采取了终止政策，在适当情况下自行决定，谁被认为用户是重复侵权。SilkChain也可以自行决定限制访问本网站和/或终止侵犯他人知识产权的任何用户的帐户，无论是否存在重复侵权行为。</p>
<div class="lead mb-1"><strong>8.商标</strong></div>
<p>“SilkChain”，SilkChain徽标和本网站中包含的任何其他SilkChain产品或服务名称，徽标或口号均为SilkChain的商标或服务标记（“SilkChain Marks”），不得复制，模仿或全部或部分使用，除非这些条款或网站明确允许或经过SilkChain事先书面许可。未经我们事先书面许可，您不得使用任何SilkChain标记的元标记或任何其他“隐藏文本”。此外，本网站的外观（包括所有页面标题，自定义图形，按钮图标和脚本）是SilkChain的服务标记，商标和/或商业外观，并且是SilkChain标记的一部分，不得复制，未经我们事先书面许可，全部或部分模仿或使用，除非此处或本网站明确允许。所有其他商标，本网站提及的注册商标，产品名称和公司名称或标志均为其各自所有者的财产，未经适用的商标持有人的书面许可，不得复制，模仿或使用全部或部分内容。以商品名称，商标，制造商，供应商或其他方式提及任何产品，服务，流程或其他信息并不构成或暗示我们对其进行背书，赞助或推荐。</p>
<div class="lead mb-1"><strong>9. 超链接</strong></div>
<p>您被授予有限的非排他性权利，可以创建文本超链接到本网站，前提是此类链接不会以虚假，误导，贬损或其他诽谤的方式描绘SilkChain或我们的任何网站，并进一步规定链接网站的作用不包含任何成人或非法材料或任何冒犯，骚扰或其他令人反感的材料。此有限权利可随时撤销。未经SilkChain明确书面许可，您不得使用任何SilkChain 徽标或其他SilkChain专有图形链接本网站。此外，您不得使用，框架或利用框架技术将任何SilkChain商标，徽标或其他专有信息（包括本网站上的图像，任何文字的内容或网站页面上包含的任何页面或表单的布局/设计），如果没有SilkChain明确的书面同意。除上述内容外，您不会通过默示，禁止反言或其他方式在SilkChain或任何第三方的任何专利，商标，版权或其他专有权利中或以其他方式转让任何权利或许可。</p>
<div class="lead mb-1"><strong>10.第三方内容</strong></div>
<p>SilkChain及其用户可能会在本网站上提供第三方内容，并可能提供链接至SilkChain不拥有或控制的网页和内容，包括但不限于SilkChain和任何第三方广告或促销（统称为“第三方内容“）作为服务给那些对此信息感兴趣的人。SilkChain不控制，认可或采纳任何第三方内容，也不对第三方内容提供任何形式的陈述或保证，包括但不限于其准确性或完整性。您承认并同意SilkChain对任何第三方内容不承担任何责任或义务，并且不承担更新或审查任何第三方内容的责任。用户使用此类第三方内容需自担风险。您与任何第三方的业务交易，通信或参与促销活动以及与此类交易或促销活动相关的任何条款，条件，担保或声明仅属于您与此类第三方之间。SilkChain不对由于任何此类交易或促销或由于网站上出现此类第三方内容而导致的任何类型的任何损失或损害负责或承担责任。</p>
<div class="lead mb-1"><strong>11.反馈</strong></div>
<p>您承认并同意，关于SilkChain或本网站的任何材料（包括但不限于问题，意见，反馈，建议，想法，计划，笔记，图纸，原创或创意材料或其他信息）（统称为“反馈“）由您提供，无论是通过电子邮件，在本网站上发布或其他方式，均为非保密信息，并将成为SilkChain的独家财产。SilkChain将拥有包括所有知识产权在内的专有权利，并且将有权以任何目的，商业或其他方式不受限制地使用和传播此类反馈，而无需向您承认或赔偿。</p>
<div class="lead mb-1"><strong>12.赔偿</strong></div>
<div>您同意捍卫SilkChain，其独立承包商，服务提供商和顾问以及他们各自的董事，雇员和代理人免于索赔，损害赔偿，成本，责任和开支（包括但不限于，合理的律师费用）：</div>
<ul>
    <li>（a）您使用本网站;</li>
    <li>（b）您提供的任何用户内容或反馈;</li>
    <li>（c）您违反这些条款;</li>
    <li>（d）您侵犯他人的任何权利; 或</li>
    <li>（e）您对本网站的行为。</li>
</ul>
<p>有些司法管辖区限制消费者赔偿，因此上述部分或全部赔偿条款可能不适用于您。如果您有义务向我们作出赔偿，我们有权以我们唯一的自由裁量权来控制任何诉讼或程序，并确定我们是否希望解决此问题。</p>
<div class="lead mb-1"><strong>13.免责声明</strong></div>
<p>SILKCHAIN对本网站或SILKCHAIN资料的性能或不受干扰的可用性不提供任何担保。本网站和SILKCHAIN资料按“原样”，“可用”提供，不提供任何明示或暗示的担保。SILKCHAIN拒绝承担所有明示或默示的保证，包括但不限于对适销性，特定用途的适用性，对本网站的所有权和非侵权以及其中包含的信息，内容和材料的暗示保证。SilkChain不代表或担保SilkChain材料或网站的准确性，完整性，可靠性，当前或无错误。虽然SilkChain试图让您访问和使用本网站安全，但SilkChain不能也不会声明或保证本网站或其服务器不含病毒或其他有害组件; 因此，SilkChain保留随时更改网站中所有内容的权利，恕不另行通知。根据商品名称，商标，制造商，供应商或其他方式提及的任何产品，服务，流程或其他信息不构成或暗示由SilkChain认可，赞助或建议，或与此相关。某些司法管辖区不允许在与消费者签订的合同中隐含默示条款免责声明，因此本部分中的某些免责声明可能不适用于您。</p>
<div class="lead mb-1"><strong>14.责任限制</strong></div>
<p>无论是否由通讯故障，盗窃，销毁或未经授权访问SILKCHAIN的记录，程序或网站引起。在任何情况下，无论是在合同中，保证，侵权行为（包括疏忽，无论是有源的，被动的还是有争议的），产品责任，严格赔偿责任或其他理论中，由于使用或无法使用，使用本网站不得超过您为获取或使用本网站而产生的任何补偿。</p>
<div class="lead mb-1"><strong>15.对网站的修改</strong></div>
<p>SilkChain保留暂时或永久修改或终止本网站或其任何功能或部分的权利，恕不另行通知。您同意SilkChain对本网站或其任何部分的任何修改，暂停或终止不承担责任。</p>
<div class="lead mb-1"><strong>16.终止和暂停</strong></div>
<p>尽管有这些条款中的任何一条，SilkChain保留在没有通知的情况下自行决定终止或暂停您使用本网站的权利，并阻止或阻止您将来访问和使用本网站的权利现场。</p>
<div class="lead mb-1"><strong>17.可分割性</strong></div>
<p>如果这些条款的任何条款被视为非法，无效或因任何原因无法执行，则该条款应被视为可与这些条款分离，并且不会影响任何其余条款的有效性和可执行性。</p>
<div class="lead mb-1"><strong>18.问题和联系信息</strong></div>
<p>有关本网站或本条款的问题或意见可通过电子邮件silkchain@itdc.org.发送给SilkChain</p>
}
else
{
<p style="text-align: center;">
    <strong><span style="font-size: 24px;">Terms and Conditions&nbsp;</span></strong>
</p>
<p>
    <br/>
</p>
<p>
    PLEASE READ THESE TERMS OF USE CAREFULLY. BY ACCESSING OR USING THE SITE, YOU AGREE TO BE BOUND BY THE TERMS DESCRIBED HEREIN AND ALL TERMS INCORPORATED BY REFERENCE. IF YOU DO NOT AGREE TO THESE TERMS, DO NOT USE THE SITE.
</p>
<p>
    <br/>
</p>
<p>
    These Terms apply to your access to, and use of, the website of www.silkchain.io. These Terms do not apply to the SilkChain open source client software or the SilkChain distributed open source global payment network accessed through that software, which may be accessed via our Site. As further described in Section 4 (Assumption of Risk with SilkChain), SilkChain does not own or control SilkChain Technology and you are solely responsible for your use of SilkChain Technology. Additionally, these Terms do not alter the terms or conditions of any other agreement you may have with SilkChain for products, services or otherwise.
</p>
<p>
    <br/>
</p>
<p>
    SilkChain reserves the right to change or modify the terms and conditions contained in these Terms or any policy or guideline of the Site, at any time and in its sole discretion. We will provide notice of these changes by posting the revised Terms to the Site and changing the “Last Revised” date at the top of the Terms, or by providing other means of notice as SilkChain will determine each time in its sole discretion. Using a particular form of notice in some instances does not obligate us to use the same form in other instances. Any changes or modifications will be effective immediately upon posting the revisions to the Site, and will apply to your subsequent use of the Site. You waive any right you may have to receive specific notice of such changes or modifications. Your continued use of this Site will confirm your acceptance of such changes or modifications; therefore, you should review the Terms and applicable policies whenever you use the Site to understand the terms that apply to such use. The most current version of the Terms can be reviewed by clicking on the “Terms and Conditions” hypertext link located at the bottom of our web pages. If you do not agree to the Terms in effect when you access or use the Site, you must stop using the Site.
</p>
<p>
    <br/>
</p>
<p>
    <strong>1. ELIGIBILITY</strong>
</p>
<p>
    By accessing or using the Site, you represent and warrant that you have not previously been suspended or removed from the Site. You represent and warrant that you are not: (a) located in, under the control of, or a national or resident of any country to which has embargoed goods or services; (b) identified as a “Specially Designated National”, or (c) placed on the Commerce Department’s Denied Persons List. You further represent and warrant that you will not use the Site if the laws of your country prohibit you from doing so in accordance with these Terms.&nbsp;
</p>
<p>
    <br/>
</p>
<p>
    <strong>2. REGISTRATION AND ACCOUNT</strong>
</p>
<p>
    In order to access and use certain features on the Site, you must create an account with SilkChain (“Account”). You agree to: (a) provide accurate, current and complete information when creating or updating an Account; (b) maintain and promptly update your Account information; (c) maintain the security and confidentiality of your login credentials and restrict access to your Account and your computer; (d) promptly notify SilkChain if you discover or otherwise suspect any security breaches related to the Site; and (e) take responsibility for all activities that occur under your Account and accept all risks of unauthorized access.
</p>
<p>
    <br/>
</p>
<p>
    <strong>3. PRIVACY POLICY</strong>
</p>
<p>
    This Privacy Policy describes how SilkChain.io and its subsidiaries and affiliated companies (“SilkChain,” “we” or “us”) collect, use and share information about you. This policy applies to information we collect when you use our websites, including www.silkchain.io (collectively, the “Site”) or otherwise interact with us as described below.
</p>
<p>
    <br/>
</p>
<p>
    This policy does not apply to the SilkChain open source client software or the SilkChain distributed open source global payment network accessed through that software (collectively, “SilkChain Technology”), which may be accessed via our Site. SilkChain does not own or control SilkChain Technology. However, if you access SilkChain Technology from a hyperlink on our Site, we may collect the information identified in the “Information We Collect Automatically” section below in connection with your use of SilkChain Technology. If you prefer, you can usually set your browser to remove or reject cookies, which will disable any information we would collect from cookies. We use the information collected on SilkChain Technology solely to analyze trends and evaluate user engagement of SilkChain Technology, when accessed from our Site. We will not collect any of the information that you provide directly to SilkChain Technology. Additionally, if you access SilkChain Technology by any other method, other than through a hyperlink available via our Site, then we will not collect any information in connection with your use of SilkChain Technology.
</p>
<p>
    <br/>
</p>
<p>
    We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of this policy, and in some cases, we may provide you with additional notice (such as adding a statement to the homepages of our Site or sending you an email notification). We encourage you to review the Privacy Policy whenever you interact with us to stay informed about our information practices and the ways you can help protect your privacy.
</p>
<p>
    <br/>
</p>
<p>
    COLLECTION OF INFORMATION
</p>
<p>
    Information You Provide to Us
</p>
<p>
    We collect information you provide directly to us. For example, we collect information when you create an online account, post messages to our forums or otherwise communicate with us.
</p>
<p>
    The types of information we may collect include your name, email address, username, password, location and any other information you choose to provide.
</p>
<p>
    <br/>
</p>
<p>
    INFORMATION WE COLLECT AUTOMATICALLY
</p>
<p>
    We automatically collect certain information about you when you access or use our Site or transact business with us, including Log Information. We collect information about your use of our Site, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our Site.
</p>
<p>
    <br/>
</p>
<p>
    Information Collected by Cookies and Other Tracking Technologies: We may use cookies, web beacons (also known as “tracking pixels”) and other tracking technologies to collect information about you when you interact with our Site or emails, including information about your browsing behavior on our Site. We use this information to improve our Site and your experience, see which areas and features of our sites are popular, count visits, understand campaign effectiveness and determine whether an email has been opened and links within the email have been clicked.
</p>
<p>
    <br/>
</p>
<p>
    INFORMATION WE COLLECT FROM OTHER SOURCES
</p>
<p>
    We may also obtain information about you from other sources and combine that with information we collect about you.
</p>
<p>
    <br/>
</p>
<p>
    USE OF INFORMATION
</p>
<p>
    We may use information about you for various purposes, including to:
</p>
<p>
    &nbsp; &nbsp;Respond to your comments, questions and requests and provide customer service;
</p>
<p>
    &nbsp; &nbsp;Monitor and analyze trends, usage and activities in order to operate and improve our Site;
</p>
<p>
    &nbsp; &nbsp;Manage your online account(s) and send you technical notices, updates, security alerts and support and administrative messages;
</p>
<p>
    &nbsp; &nbsp;Link or combine with information we get from others to help understand your needs and provide you with better service; and
</p>
<p>
    &nbsp; &nbsp;Carry out any other purpose for which the information was collected.
</p>
<p>
    <br/>
</p>
<p>
    SHARING OF INFORMATION
</p>
<p>
    We may share information about you as follows:
</p>
<p>
    &nbsp; &nbsp;With vendors, consultants and other service providers who need access to such information to carry out work on our behalf;
</p>
<p>
    &nbsp; &nbsp;In response to a request for information if we believe disclosure is in accordance with any applicable law, regulation or legal process, or as otherwise required by any applicable law, rule or regulation;
</p>
<p>
    &nbsp; &nbsp;If we believe your actions are inconsistent with our user agreements or policies, or to protect the rights, property and safety of us or any third party;
</p>
<p>
    &nbsp; &nbsp;In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of our business to another company; and
</p>
<p>
    &nbsp; &nbsp;With your consent or at your direction.
</p>
<p>
    We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.
</p>
<p>
    <br/>
</p>
<p>
    ANALYTICS SERVICES PROVIDED BY OTHERS
</p>
<p>
    We engage third parties to provide analytics services. These entities may use cookies, web beacons and other technologies to collect information about your use of our Site, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used by us and others to, among other things, analyze and track data, determine the popularity of certain content and better understand your online activity.
</p>
<p>
    <br/>
</p>
<p>
    SECURITY
</p>
<p>
    We take reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.
</p>
<p>
    <br/>
</p>
<p>
    Account Information
</p>
<p>
    You may update, correct or delete your online account information at any time by logging into your account or by contacting us at the information below. Please note that we may retain certain information as required by law or for legitimate business purposes. We may also retain cached or archived copies of information about you for a certain period of time.
</p>
<p>
    <br/>
</p>
<p>
    COOKIES
</p>
<p>
    Most web browsers are set to accept cookies by default. If you prefer, you can usually set your browser to remove or reject cookies but note that doing so does not necessarily affect third party flash cookies used in connection with our Site. If you choose to remove or reject cookies, this could affect the availability and functionality of our Site.
</p>
<p>
    <br/>
</p>
<p>
    <strong>4. ASSUMPTION OF RISK WITH SILKCHAIN</strong>
</p>
<p>
    SilkChain developed the original protocol for SilkChain Technology and continues to promote its use as a distributed open source payment network. Additionally, as a member of the open source community, SilkChain may contribute updates and modifications to the SilkChain Technology source code. However, SilkChain does not own or control SilkChain Technology. SilkChain Technology is an open source protocol that anyone can use, copy, modify and distribute. We encourage you to take precautions when considering whether to use SilkChain Technology, particularly when participating in any transaction using SilkChain Technology with a stranger.
</p>
<p>
    You acknowledge and agree that SilkChain:
</p>
<p>
    (i) does not own or control SilkChain Technology;
</p>
<p>
    (ii) does not have any authority or responsibility to prohibit, restrict, rescind or approve any transaction or other interaction that occurs through SilkChain Technology;
</p>
<p>
    (iii) is not a party to, has no involvement or interest in, makes no representations or warranties as to, and has no responsibility or liability with respect to any communications, transactions, interactions, disputes or any relations whatsoever between you and any other participant, person or organization that uses SilkChain Technology; and
</p>
<p>
    (iv) does not investigate or verify the reputation, conduct, morality or criminal background of any SilkChain Technology user, including without limitation any SilkChain gateway. Further, you acknowledge and agree that you are solely responsible for your access and use of SilkChain Technology, including without limitation for:
</p>
<p>
    (i) any payments or other transactions you complete using SilkChain Technology;
</p>
<p>
    (ii) investigating or screening other SilkChain Technology users before engaging in any SilkChain transaction with such users;
</p>
<p>
    (iii) any interactions you have with other SilkChain Technology users or gateways; and
</p>
<p>
    (iv) your use of any SilkChain gateways to exchange any currency or other items of value that you may have stored in your SilkChain wallet.
</p>
<p>
    SILKCHAIN ASSUMES NO RESPONSIBILITY FOR ANY CONSEQUENCES RELATING DIRECTLY OR INDIRECTLY TO ANY ACTION OR INACTION YOU TAKE IN CONNECTION WITH SILKCHAIN TECHNOLOGY. YOU ASSUME ALL RISKS ASSOCIATED WITH USING SILKCHAIN TECHNOLOGY.
</p>
<p>
    <br/>
</p>
<p>
    <strong>5. COPYRIGHT AND LIMITED LICENSE</strong>
</p>
<p>
    Unless otherwise indicated on the Site, the Site and all content and other materials on the Site, including, without limitation, the SilkChain logo and all designs, text, graphics, pictures, information, data, software, sound files, other files and the selection and arrangement thereof (collectively, “SilkChain Materials”) are the proprietary property of SilkChain or its licensors or users and international copyright laws.
</p>
<p>
    You are granted a limited, non-sublicensable license to access and use the Site and SilkChain Materials; subject to these Terms. Except as expressly permitted on the Site, in these Terms or otherwise in writing by SilkChain, such license does not include: (a) any resale or commercial use of the Site or the SilkChain Materials; (b) the distribution, public performance or public display of any SilkChain Materials; (c) modifying or otherwise making any derivative uses of the Site and the SilkChain Materials, or any portion thereof; (d) use of any data mining, robots or similar data gathering or extraction methods; (e) downloading (other than the page caching) of any portion of the Site, the SilkChain Materials or any information contained therein; or (f) any use of the Site or the SilkChain Materials other than for its intended purpose. Any use of the Site or the SilkChain Materials other than as specifically authorized herein, without the prior written permission of SilkChain, is strictly prohibited and will terminate the license granted herein. Such unauthorized use may also violate applicable laws, including, without limitation, copyright and trademark laws and applicable communications regulations and statutes. Unless explicitly stated herein, nothing in these Terms will be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time.
</p>
<p>
    <br/>
</p>
<p>
    <strong>6. USER CONTENT</strong>
</p>
<p>
    The Site includes interactive areas or services (“Interactive Areas”) in which you or other users may create, post, send or store ads, messages, materials, data, information, text, music, sound, photos, video, graphics, applications, code, links or other items or content on the Site (“User Content”). By using the Site, you agree not to post, upload to, transmit, distribute, store, create or otherwise publish or send through the Site any of the following:
</p>
<p>
    <br/>
</p>
<p>
    a. User Content that is unlawful, libelous, defamatory, obscene, pornographic, indecent, lewd, suggestive, harassing, threatening, abusive, inflammatory, fraudulent, false, misleading or otherwise objectionable;
</p>
<p>
    <br/>
</p>
<p>
    b. User Content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party or that would otherwise create liability or violate any local, state, national or international law;
</p>
<p>
    <br/>
</p>
<p>
    c. User Content that may impinge upon the publicity, privacy or data protection rights of others, including pictures or information about another individual where you have not obtained such individual’s consent;
</p>
<p>
    <br/>
</p>
<p>
    d. User Content that may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party. By posting any User Content, you represent and warrant that you have the lawful right to distribute and reproduce such User Content;
</p>
<p>
    <br/>
</p>
<p>
    e. User Content that impersonates any person or entity or otherwise misrepresents your affiliation with a person or entity;
</p>
<p>
    <br/>
</p>
<p>
    f. Viruses, corrupted data or other harmful, disruptive or destructive files; or
</p>
<p>
    <br/>
</p>
<p>
    g. User Content that, in the sole judgment of SilkChain, is objectionable or which restricts or inhibits any other person from using or enjoying the Interactive Areas, the Site, or which may expose SilkChain, SilkChain Technology, or its users to any harm or liability of any type.
</p>
<p>
    <br/>
</p>
<p>
    SilkChain does not control, take responsibility for or assume liability for any User Content posted, stored or uploaded by you or any third party, or for any loss or damage thereto, nor is SilkChain liable for any user conduct or any mistakes, defamation, slander, libel, omissions, falsehoods, obscenity, pornography or profanity you may encounter. When you participate in Interactive Areas, you understand that certain information and content you choose to post may be displayed publicly or to select users. You are solely responsible for your use of the Site and the Interactive Areas and use them at your own risk.
</p>
<p>
    <br/>
</p>
<p>
    If you become aware of User Content that you believe violates these Terms, you may report it by emailing silkchain@itdc.org. Enforcement of the Terms, however, is solely in our discretion and the absence of enforcement of these Terms in some instances does not constitute a waiver of our right to enforce the Terms in other instances. In addition, these Terms do not create any private right of action on the part of any third party or any reasonable expectation or promise that the Site will not contain any content that is prohibited by the Terms. Although SilkChain has no obligation to screen, edit or monitor any of the User Content posted on the Site, SilkChain reserves the right, and has absolute discretion, to remove, screen or edit any User Content posted or stored on the Site at any time and for any reason without notice, and you are solely responsible for creating backup copies and replacing any User Content you post or store on the Site at your sole cost and expense. Any use of the Site in violation of these Terms may result in, among other things, termination or suspension of your rights to use the Interactive Areas and/or the Site.
</p>
<p>
    <br/>
</p>
<p>
    Except as otherwise provided herein, on the Site or in a separate agreement (such as the rules of a SilkChain contest), SilkChain claims no ownership or control over any User Content. However, if you post User Content to the Site, you grant SilkChain a nonexclusive, royalty-free, perpetual, irrevocable and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and display such User Content on our websites and on third-party sites. This license will terminate when you remove your User Content, except that the license will continue with respect to any offsite uses that have already been made and any cached or archived uses that may still exist when User Content is removed. By posting User Content, you hereby release SilkChain and its agents and employees from any claims that such use, as authorized above, violates any of your rights and you understand that you will not be entitled to any additional compensation for any use of your User Content.
</p>
<p>
    <br/>
</p>
<p>
    By posting User Content to the Site, you represent and warrant that: (a) such User Content is non-confidential; (b) you own and control all of the rights to the User Content or you otherwise have the right to post and use such User Content and to grant the rights to SilkChain that you grant in these Terms; (c) the User Content is accurate and not misleading or harmful in any manner; and (d) the User Content, and your use and posting thereof in connection with this Site, does not, and will not, violate these Terms or any applicable law, rule or regulation.
</p>
<p>
    <br/>
</p>
<p>
    <strong>7. REPEAT INFRINGER POLICY</strong>
</p>
<p>
    In accordance with the applicable law, SilkChain has adopted a policy of terminating, in appropriate circumstances and in SilkChain’s sole discretion, users who are deemed to be repeat infringers. SilkChain may also, in its sole discretion, limit access to the Site and/or terminate the Account of any user who infringes any intellectual property rights of others, whether or not there is any repeat infringement.
</p>
<p>
    <br/>
</p>
<p>
    <strong>8. TRADEMARKS</strong>
</p>
<p>
    “SilkChain,” the SilkChain logos and any other SilkChain product or service name, logo or slogan contained in the Site are trademarks or service marks of SilkChain (the “SilkChain Marks”) and may not be copied, imitated or used, in whole or in part, except as expressly permitted in these Terms or on the Site or with the prior written permission of SilkChain. You may not use any metatags or any other “hidden text” utilizing any SilkChain Marks without our prior written permission. In addition, the look and feel of the Site, including all page headers, custom graphics, button icons and scripts, is the service mark, trademark and/or trade dress of SilkChain and is part of the SilkChain Marks and may not be copied, imitated or used, in whole or in part, without our prior written permission except as expressly permitted herein or on the Site. All other trademarks, registered trademarks, product names and company names or logos mentioned in the Site are the property of their respective owners and may not be copied, imitated or used, in whole or in part, without the written permission of the applicable trademark holder. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by us.
</p>
<p>
    <br/>
</p>
<p>
    <strong>9. HYPERLINKS</strong>
</p>
<p>
    You are granted a limited, non-exclusive right to create a text hyperlink to the Site, provided such link does not portray SilkChain or any of our Site in a false, misleading, derogatory or otherwise defamatory manner and provided further that the linking site does not contain any adult or illegal material or any material that is offensive, harassing or otherwise objectionable. This limited right may be revoked at any time. You may not use any SilkChain Marks or other proprietary graphic of SilkChain to link to the Site without the express written permission of SilkChain. Further, you may not use, frame or utilize framing techniques to enclose any SilkChain trademark, logo or other proprietary information, including the images found on the Site, the content of any text or the layout/design of any page or form contained on a page of the Site without SilkChain’s express written consent. Except as noted above, you are not conveyed any right or license by implication, estoppel or otherwise in or under any patent, trademark, copyright or other proprietary right of SilkChain or any third party.
</p>
<p>
    <br/>
</p>
<p>
    <strong>10. THIRD PARTY CONTENT</strong>
</p>
<p>
    SilkChain and its users may provide third party content on the Site and may provide links to web pages and content that are not owned or controlled by SilkChain, including but not limited to SilkChain Technology and any third-party advertisements or promotions (collectively the “Third Party Content”) as a service to those interested in this information. SilkChain does not control, endorse or adopt any Third-Party Content and makes no representation or warranties of any kind regarding the Third-Party Content, including without limitation regarding its accuracy or completeness. You acknowledge and agree that SilkChain is not responsible or liable in any manner for any Third-Party Content and undertakes no responsibility to update or review any Third-Party Content. Users use such Third-Party Content contained therein at their own risk. Your business dealings or correspondence with, or participation in promotions of, any third parties, and any terms, conditions, warranties or representations associated with such dealings or promotions, are solely between you and such third parties. SilkChain is not responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or promotions or as the result of the presence of such Third-Party Content on the Site.
</p>
<p>
    <br/>
</p>
<p>
    <strong>11. FEEDBACK</strong>
</p>
<p>
    You acknowledge and agree that any materials, including but not limited to questions, comments, feedback, suggestions, ideas, plans, notes, drawings, original or creative materials or other information, regarding SilkChain or the Site (collectively, “Feedback”) that are provided by you, whether by email, posting to the Site or otherwise, are non-confidential and will become the sole property of SilkChain. SilkChain will own exclusive rights, including all intellectual property rights, and will be entitled to the unrestricted use and dissemination of such Feedback for any purpose, commercial or otherwise, without acknowledgment or compensation to you.
</p>
<p>
    <br/>
</p>
<p>
    <strong>12. INDEMNIFICATION</strong>
</p>
<p>
    You agree to defend, indemnify and hold harmless SilkChain, its independent contractors, service providers and consultants, and their respective directors, employees and agents, from and against any claims, damages, costs, liabilities and expenses (including, but not limited to, reasonable attorneys’ fees) arising out of or related to: (a) your use of the Site; (b) any User Content or Feedback you provide; (c) your violation of these Terms; (d) your violation of any rights of another; or (e) your conduct in connection with the Site. Some jurisdictions limit consumer indemnities, so some or all of the indemnity provisions above may not apply to you. If you are obligated to indemnify us, we will have the right, in our sole and unfettered discretion, to control any action or proceeding and determine whether we wish to settle it, and if so, on what terms.
</p>
<p>
    <br/>
</p>
<p>
    <strong>13. DISCLAIMER OF WARRANTIES</strong>
</p>
<p>
    SILKCHAIN PROVIDES NO GUARANTEE AS TO THE PERFORMANCE OR THE UNINTERRUPTED AVAILABILITY OF THE SITE OR THE SILKCHAIN MATERIALS. THE SITE AND SILKCHAIN MATERIALS ARE PROVIDED ON AN “AS IS,” “AS AVAILABLE” BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. SILKCHAIN DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AS TO THE SITE AND THE INFORMATION, CONTENT AND MATERIALS CONTAINED THEREIN. SILKCHAIN DOES NOT REPRESENT OR WARRANT THAT SILKCHAIN MATERIALS OR THE SITE ARE ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE. WHILE SILKCHAIN ATTEMPTS TO MAKE YOUR ACCESS AND USE OF THE SITE SAFE, SILKCHAIN CANNOT AND DOES NOT REPRESENT OR WARRANT THAT THE SITE OR ITS SERVER(S) ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; THEREFORE, YOU SHOULD USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES FROM ANY DOWNLOAD.
</p>
<p>
    <br/>
</p>
<p>
    SilkChain reserves the right to change any and all content contained in the Site at any time without notice. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof, or any affiliation therewith, by SilkChain.
</p>
<p>
    <br/>
</p>
<p>
    SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF IMPLIED TERMS IN CONTRACTS WITH CONSUMERS, SO SOME OR ALL OF THE DISCLAIMERS IN THIS SECTION MAY NOT APPLY TO YOU.
</p>
<p>
    <br/>
</p>
<p>
    <strong>14. LIMITATION OF LIABILITY</strong>
</p>
<p>
    IN NO EVENT WILL SILKCHAIN, ITS DIRECTORS, EMPLOYEES OR AGENTS BE LIABLE FOR ANY DIRECT, SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND, INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF OR INABILITY TO USE THE SITE, THE SILKCHAIN MATERIALS OR THE CONTENT OR THE MATERIALS CONTAINED IN OR ACCESSED THROUGH THE SITE, INCLUDING WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY USER ON ANY INFORMATION OBTAINED FROM SILKCHAIN, OR THAT RESULT FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES OR EMAIL, ERRORS, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO SILKCHAIN’S RECORDS, PROGRAMS OR SITE. IN NO EVENT WILL THE AGGREGATE LIABILITY OF SILKCHAIN, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE USE OF OR INABILITY TO USE THE SITE EXCEED ANY COMPENSATION YOU PAY, IF ANY, TO SILKCHAIN FOR ACCESS TO OR USE OF THE SITE. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OF LIABILITY IN CONTRACTS WITH CONSUMERS, SO SOME OR ALL OF THESE LIMITATIONS OF LIABILITY MAY NOT APPLY TO YOU.
</p>
<p>
    <br/>
</p>
<p>
    <strong>15. MODIFICATIONS TO THE SITE</strong>
</p>
<p>
    SilkChain reserves the right to modify or discontinue, temporarily or permanently, the Site or any features or portions thereof without prior notice. You agree that SilkChain will not be liable for any modification, suspension or discontinuance of the Site or any part thereof.
</p>
<p>
    <br/>
</p>
<p>
    16. TERMINATION AND SUSPENSION
</p>
<p>
    Notwithstanding any of these Terms, SilkChain reserves the right, without notice and in its sole discretion, to terminate or suspend your right to use the Site, and to block or prevent your future access to, and use of, the Site.
</p>
<p>
    <br/>
</p>
<p>
    <strong>17. SEVERABILITY</strong>
</p>
<p>
    If any provision of these Terms is deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms and will not affect the validity and enforceability of any remaining provisions.
</p>
<p>
    <br/>
</p>
<p>
    <strong>18. QUESTIONS &amp; CONTACT INFORMATION</strong>
</p>
<p>
    Questions or comments about the Site or these Terms may be directed to SilkChain by emailing silkchain@itdc.org.
</p>
}
</div>
</body>
</html>