@{
    Layout = null;
    var lan = Html.GetLang();
}<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SilkChain - Clause</title>
    <link href="~/css/vendors.stripped.min.css" rel="stylesheet" />
    <link href="~/css/style.bundle.min.css" rel="stylesheet" />
    <style>p.text-indent{text-indent:2em;}.lead{margin-top:2rem;}</style>
</head>
<body>
<div class="container py-5">
    <style>.sub_nav{display:none;}</style>
@Html.Raw(ViewBag.ShowHtml)
</div>
</body>
</html>
