

<p>邮箱<input type="text" name="email" /></p>
<p><button type="button" onclick="searchUser()">查询</button></p>
<div id="msgshow"></div>


    <script type="text/javascript">
        function searchUser() {
            var email = $("input[name='email']").val();
            if (email == '' || email == null) {
                alert("请输入邮箱");
                return;
            }
            $.get("/account/_UserInfo", { email: email }, function (data) {
                $("#msgshow").html(data);
            }, 'html')

        }

    </script>
